<%= form_tag bookings_path, method: :get do %>
  <p>
    <%= t('rental') %>: <%= select_tag(:rental_id,
                                options_for_select(
                                    @rentals.collect {|p| [ p[:name], p[:id] ] },
                                    selected: params[:rental_id]
                                ),
                                include_blank: t('select_rental') + '...') %>
    <%= t('client') %>: <%= select_tag(:client_id,
                                options_for_select(
                                    @clients.collect {|p| [ p[:fullname], p[:id] ] },
                                    selected: params[:client_id]
                                ),
                                include_blank: t('select_client') + '...') %>
    <%= t('booking') %> <%= t('status') %>: <%= select_tag(:booking_status,
                                options_for_select(
                                    @booking_statuses.collect {|p| [ p[:name], p[:id] ] },
                                    selected: params[:booking_status]
                                ),
                                include_blank: t('select_booking') + '...') %>
    <%= t('include_canceled') %>: <%= check_box_tag :include_canceled, true, params[:include_canceled] %>
    <%= submit_tag t('search'), :name => nil %>
  </p>
<% end %>
