<h1><%= t('bookings') %></h1>

<%= render 'search' %>

<hr/>

<% if @bookings.any? %>

<table cellspacing="10">
  <tr>
    <th><%= t('id') %></th>
    <th><%= t('start_at') %></th>
    <th><%= t('end_at') %></th>
    <th><%= t('status') %></th>
  </tr>

  <% @bookings.each do |booking| %>
    <tr>
      <td><%= link_to booking[:id], action: :show, id: booking[:id] %></td>
      <td><%= booking[:start_at] %></td>
      <td><%= booking[:end_at] %></td>
      <td><%= booking[:status] %></td>
    </tr>
  <% end %>
</table>

<% else %>
  <p><%= t('no_bookings') %></p>
<% end %>
