<h1><%= t('rentals') %></h1>

<%= render 'search' %>

<hr/>

<% if @rentals.any? %>

<table>
  <tr>
    <th><%= t('name') %></th>
    <th><%= t('type') %></th>
  </tr>

  <% @rentals.each do |rental| %>
    <tr>
      <td><%= link_to (rental[:name].present? ? rental[:name] : t('unknown')) , action: :show, id: rental[:id] %></td>
      <% #TODO: should be ENUM value instead %>
      <td><%= rental[:rental_type].present? ? rental[:rental_type] : t('unknown') %></td>
    </tr>
  <% end %>
</table>

<% else %>
  <p><%= t('no_rentals') %></p>
<% end %>
