<h1>Rentals</h1>

<% form_tag accounts_path, method: :get do %>
  <p>
    <%= text_field_tag :city, params[:city] %>
    <%= select_tag :rental_type, options_for_select(@rental_types.collect {|p| [ p[:name], p[:id] ] }) %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @rentals %>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>

  <% @rentals.each do |rental| %>
    <tr>
      <td><%= link_to rental[:name], action: :show, id: rental[:id] %></td>
      <% #TODO: should be ENUM value instead %>
      <td><%= rental[:rental_type] %></td>
    </tr>
  <% end %>
</table>

<%end%>
