<!DOCTYPE html>
<html>
<head>
  <title>BookingsyncTestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to t('home'), root_path %> |
<%= link_to t('accounts'), accounts_path %> |
<%= link_to t('rentals'), rentals_path %> |
<%= link_to t('bookings'), bookings_path %> |
<%= link_to t('clients'), clients_path %>

<hr/>

<%= yield %>

</body>
</html>
