<h1><%= t('hello') %>, <%= @current_account.name %></h1>

<%= t('here_you_can_see') %>:

<ul>
  <li><%= link_to t('accounts'), accounts_path %></li>
  <li><%= link_to t('rentals'), rentals_path %></li>
  <li><%= link_to t('bookings'), bookings_path %></li>
  <li><%= link_to t('clients'), clients_path %></li>
</ul>
